DATABASE_URL=
DIRECT_URL=
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
NEXT_PUBLIC_BASE_URL=https://dietetica-celina.vercel.app
CBU=0000003100087156504299
ALIAS_CBU=celinafernandez.mp
TITULAR_CUENTA=Celina Fernandez
CONTACT_PHONE=
CONTACT_EMAIL=

# Telegram bot
TELEGRAM_BOT_TOKEN=
TELEGRAM_ADMIN_CHAT_ID=
TELEGRAM_SECRET=
